.clubsContainer {
    width: 80%;
    max-width: 1000px; /* Adjust to control the maximum number of columns */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid grey;
    border-radius: 5px;
}
