.backgroundContainer {
    margin-bottom: 32px;
    margin-top: 70px;
    background-color: rgb(4, 32, 73);
    width: 100%;
    display: flex;
    justify-content: center;
}

/* 100px */

.textContainer {
    position: relative;
    margin: 30px 5%;
    max-width: 1100px;
    width: 100%;
}

.backgroundText {
    position: relative;
    display: inline;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}