/* IndividualClubPage.css */

.individualClubContainer {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.club-about-section-wrapper {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.top-side {
    width: 100%;
    height: 50%;
    background: url('../../../pictures/watclub background.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
}

.bottom-side {
    width: 100%;
    height: 50%;
    background-color: white;
}

.top-side .content,
.bottom-side .content {
    max-width: 1100px;
    position: relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.socialSection {
    position: absolute;
    height: fit-content;
    width: fit-content;
    right: 475px;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    top: 100px;
    gap: 15px;
}

.content h2 {
    width: 50%;
    color: white;
    font-size: 2.5em;
    position: absolute;
    bottom: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.content p {
    width: 50%;
    font-size: 17px;
}

.right-side ul li {
    font-size: 1.1em;
}

