.individualClubContainer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.club-about-section-wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.top-side,
.bottom-side {
    width: 100%;
    /* Set your background image here */
    background-size: cover;
    background-position: center;
}
.top-side {
    background-color: gray;
    height: 40%;
}
.bottom-side {
    height: 60%;
    background-color: lightgray;
}
.top-side .content,
.bottom-side .content {
    max-width: 1100px;
    margin: 0 auto;
    /* Center the content */
    /* Optional: Add some padding */
    padding-left: 5%;
    padding-right: 5%;
}

.content p,
.content h2 {
    width: 50%;
}

.right-side ul li {
    font-size: 1.1em;
}


/* From Uiverse.io by vinodjangid07 */
.leaveAComment {
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 700px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
    margin-bottom: 20px;
}

.leaveACommentWrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

.leaveACommentText {
    font-weight: 500;
    font-size: 20px;
}

.bookmarkBtn {
    width: 180px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
}

.IconContainer {
    width: 30px;
    height: 30px;
    background-color: rgb(103, 74, 228);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .3s;
}

.icon {
    border-radius: 1px;
}

.text {
    height: 100%;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(26, 26, 26);
    z-index: 1;
    transition-duration: .3s;
    font-size: 1.04em;
    font-weight: 600;
}

.bookmarkBtn:hover .IconContainer {
    width: 160px;
    border-radius: 40px;
    transition-duration: .3s;
}

.bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: .3s;
}

.bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: .3s;
}




/* From Uiverse.io by zanina-yassine */
.commentCard {
    max-width: 700px;
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 0px 2px gray;
    border-radius: 10px;
}

.commentTitle {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #f1f1f1;
    font-weight: 700;
    font-size: 20px;
    color: #47484b;
}


.comments {
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 20px;
    padding: 20px;
    min-height: 15vh;
    border-bottom: 1px solid #f1f1f1;
}

.comment-react {
    width: 35px;
    height: fit-content;
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.comment-react button {
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    outline: none;
}

.comment-react button:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: -2.5px;
    top: -2.5px;
    background-color: #f5356e;
    border-radius: 50%;
    z-index: 0;
    transform: scale(0);
}

.comment-react button svg {
    position: relative;
    z-index: 9;
}

.comment-react button:hover:after {
    animation: ripple 0.6s ease-in-out forwards;
}

.comment-react button:hover svg {
    fill: #f5356e;
}

.comment-react button:hover svg path {
    stroke: #f5356e;
    fill: #f5356e;
}

.comment-react hr {
    width: 80%;
    height: 1px;
    background-color: #dfe1e6;
    margin: auto;
    border: 0;
}

.comment-react span {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
    color: #707277;
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.comment-container .user {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
}

.comment-container .user .user-pic {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 50%;
}

.comment-container .user .user-pic:after {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    background-color: #0fc45a;
    border: 2px solid #ffffff;
}

.comment-container .user .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3px;
}

.comment-container .user .user-info span {
    font-weight: 700;
    font-size: 15px;
    color: #47484b;
}

.comment-container .user .user-info p {
    font-weight: 600;
    font-size: 13px;
    margin: 0;
    color: #acaeb4;
}

.comment-container .comment-content {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #5f6064;
}

.text-box {
    width: 100%;
    height: fit-content;
    background-color: #f1f1f1;
    padding: 8px;
}

.text-box .box-container {
    background-color: #ffffff;
    border-radius: 8px 8px 21px 21px;
    padding: 8px;
}

.text-box textarea {
    width: 100%;
    height: 40px;
    resize: none;
    border: 0;
    border-radius: 6px;
    padding: 12px 12px 10px 12px;
    font-size: 13px;
    outline: none;
    caret-color: #0a84ff;
}

.text-box .formatting {
    display: grid;
    grid-template-columns: auto auto auto auto auto 1fr;
}

.text-box .formatting button {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    outline: none;
}

.text-box .formatting button:hover {
    background-color: #f1f1f1;
}

.text-box .formatting .send {
    width: 30px;
    height: 30px;
    background-color: #0a84ff;
    margin: 0 0 0 auto;
}

.text-box .formatting .send:hover {
    background-color: #026eda;
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}


/* From Uiverse.io by SalladShooter */
.like-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25px;
    gap: 5px;
    padding-left: 5px;
    height: auto;
    cursor: pointer;
}

.like-wrapper .voteButton {
    width: 75%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.like-text {
    color: #313131;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    position: relative;
}

.check[type="checkbox"] {
    display: none;
}

.container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: -0.25em;
    margin-bottom: -0.25em;
    position: absolute;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    fill: #313131;
    transition: opacity 0.3s ease-in-out;
}

.icon.active {
    display: none;
    fill: #f52121;
}

.check[type="checkbox"]:checked+.container .icon.active {
    display: inline-block;
    animation: wiggle 0.5s ease-in-out;
}

.check[type="checkbox"]:checked+.container .icon.inactive {
    display: none;
}



@keyframes wiggle {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }
}

.ratingWrapperOutside {
    max-width: 1100px;
    width: 100%;
    position: absolute;
}

.ratingWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* Align items to the right within the container */
    gap: 10px;
    box-shadow: 0 0 1px gray;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%; 
    position: absolute;
    right: 0;
    display: flex;
    justify-content: right; 
    top: 50%;
    transform: translateY(-50%);
}

.ratingRight {
    display: flex;
    flex-direction: column;
    width: 8.5em;
    align-items: center;
    text-align: center;
}

.ratingNumber {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.rating {
    font-size: 2em;
    color: #faab00;
    position: relative;
    width: max-content;
}

.ratingStats {
    color: darkgray;
}

.rating:before {
    content: "☆☆☆☆☆";
}

.rating:after {
    content: "★★★★★";
    position: absolute;
    left: 0;
    z-index: 0;
    width: calc(var(--rating) * 1%);
    overflow: hidden;
}

.ratingLeft {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.ratingBarWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.ratingBar {
    background-color: lightgray;
    width: 300px;
    height: 12px;
    border-radius: 7.5px;
    position: relative;
}

.ratingBar::after {
    content: "";
    background-color: #faab00;
    height: 12px;
    border-radius: 7.5px;
    width: calc(var(--ratingBar) * 1%);
    display: block;
    /* Add this */
    position: absolute;
    /* Add this */
}


/* Overlay to darken the background */
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it sits above other elements */
}

/* Popup content styling */
.popupContent {
    /* White background */
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 500px;
    /* Adjust as needed */
    width: 100%;
    box-sizing: border-box;
}