/* RatingBox.css */

.ratingWrapperOutside {
    max-width: 1100px;
    width: 100%;
    position: absolute;
    top: -5%;
    right: 0;
}

.ratingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    box-shadow: 0 0 1px gray;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 4px solid;
    border-image: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    padding: 25px 10px;
    border-image-slice: 1;
}

.ratingTop {
    font-size: 30px;
    font-weight: 500;
}

.ratingBottom {
    display: flex;
    flex-direction: row;
    position: relative;
}

.ratingLeft {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.ratingBarWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.ratingBarNumber {
    font-size: 1em;
}

.ratingBar {
    background-color: lightgray;
    width: 300px;
    height: 12px;
    border-radius: 7.5px;
    position: relative;
}

.ratingBar::after {
    content: "";
    background-color: #faab00;
    height: 12px;
    border-radius: 7.5px;
    width: calc(var(--ratingBar) * 1%);
    position: absolute;
}

.ratingRight {
    display: flex;
    flex-direction: column;
    width: 8.5em;
    align-items: center;
    text-align: center;
}

.ratingNumber {
    font-weight: bold;
    font-size: 2rem;
}

.rating {
    font-size: 2em;
    color: #faab00;
    position: relative;
    width: max-content;
}

.ratingStats {
    color: darkgray;
}

.rating::before {
    content: "☆☆☆☆☆";
}

.rating::after {
    content: "★★★★★";
    position: absolute;
    left: 0;
    z-index: 0;
    width: calc(var(--rating) * 1%);
    overflow: hidden;
}
