
.socialsCard {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

/* instagram*/
.container_instagram:hover {
    background-color: #d62976;
}

/* twitter*/
.container_:hover {
    background-color: #00acee;
    transition-duration: .3s;
}

/* linkdin*/
.container_linkedin:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

/* Linktr*/
.container_linktr:hover {
    background-color: #88e474;
}

/* Email */
.container_email:hover {
    background-color: #ff6e6e;
}

/* Discord */
.container_discord:hover {
    background-color: rgb(0, 60, 255);
    transition-duration: .3s;
}

/* Facebook */
.container_facebook:hover {
    background-color: #316FF6;
}

/* Youtube */
.container_youtube:hover {
    background-color: red;
}

/* Website */
.container_website:hover {
    background-color: #00e4b8;
}
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 25px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}