/* From Uiverse.io by OnlyCodeChannel */
.searchBox {
  display: flex;
  width: 100%;
  max-width: 700px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: white;
  position: relative;
  margin: auto;
  height: 70px;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  width: 100%;
  border-radius: 10px;
  background: #F0F0F0;
  outline: none;
  position: relative;
  color: black;
  font-size: 15px;
  border-radius: 5px;
  padding: 18px 46px 18px 26px;
}