.filterContainer {
    max-width: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.titleContainer {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 1em;
    font-weight: bold;
    color: #333;
}

/* Rating Container */
.ratingContainer {
    margin-bottom: 20px;
}

.showRating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ratingText {
    font-size: 1em;
    color: #555;
}

.currentRating {
    font-size: 1.2em;
    font-weight: bold;
    color: #007bff; /* Highlight color */
}

.ratingInput {
    width: 100%;
    margin-top: 10px;

}

/* Organization Container */
.orgContainer {
    margin-bottom: 20px;
}

.orgType {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.orgsContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    max-height: 300px;
    overflow: scroll;
}

.orgs {
    padding: 8px 15px;
    background-color: #e9ecef;
    border-radius: 5px;
    color: #333;
    font-size: 0.9em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.orgs.clicked {
    padding: 8px 15px;

    background-color: rgb(237, 237, 124);

    border-radius: 5px;
    color: #333;
    font-size: 0.9em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.orgs:hover {
    background-color: #ced4da;
}

.orgs.clicked:hover {
    background-color: rgb(200, 200, 23);
}




/* Button Styles */
.filterClear {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: white;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filterClear:hover {
    background-color: #c82333;
}

.showContainer {
    display: flex;
    justify-content: center;
}
.show {

    margin-top: 10px;
    color: #7c7b78;

    cursor: pointer;
}


/* @media (max-width: 400px) {
    .orgsContainer {
        flex-direction: column; 
        flex-wrap: wrap;
        max-height: 300px;
        overflow: scroll;
    }
} */

@media (max-width: 670px) {
    .filterContainer {
        max-width: 670px;
    }
}